<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p>
    <% @restaurant.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - @restaurant.rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  </p>
  <p><%= link_to "Home", restaurants_path  %></p>
</div>
